<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!--ONLY edit with WORDPAD or NOTEPAD on windows-->

    <!--DO NOT remove any of these setting entries, even if they don't apply -->

    <!--This setting defines where the logs, license requests, and the license for UGCC is stored -->
    <add key="log" value="C:\Program Files\EzUGCC\logs" />
    
    <!--This setting sets the database type and can be 'sqlite' for SQLite or 'mysql' for a MySQL database -->
    <add key="dbtype" value="sqlite" />

    <!--If using sqlite, where can UGCC find the DB File-->
    <add key="sqlitelocation" value="C:\Program Files\EzUGCC" />

    <!--Following settings apply to MySQL server only-->
    <add key="sqlsrvr" value="localhost"/>
    <add key="sqlport" value="3306"/>
    <add key="user" value="root"/>
    <add key="password" value="somefakepassword"/>
    <add key="dbname" value="UGCC"/>
    <add key="sqlsslmode" value="Preferred"/>
    
    <!--If you want to use a different language for tinymce enter the .js file name here minus the extension-->
    <add key="tinymcelang" value="en" />

    <!--Force https when accessing a page over http-->
    <add key="forcehttps" value="false" />
    <!--If force https, enter the port to use.  443 is the default-->
    <add key="httpsport" value="443" />

    <!--If the URL for the panel is not detected correctly, you may manually set the root url here.  i.e. http://my.panel.com-->
    <add key="panelurl" value=""/>
    
    <!--Panel server definition id; don't change unless you know what you're doing; you MUST have one panel install with ID 1; your first panel-->
    <add key="panelsdefid" value="1"/>

    <!--For panels with an id other than 1, add this amount of additional amount of time (ms) to remote connection timeouts-->
    <add key="remotetimeout" value="0"/>

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <globalization uiCulture="auto" culture="auto" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.7" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpRuntime requestValidationMode="2.0" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>

  </system.web>
  <system.webServer>
    <handlers>
      <remove name="PageHandlerFactory-ISAPI-2.0" />
      <remove name="PageHandlerFactory-ISAPI-2.0-64" />
      <add name="PageHandlerFactory-ISAPI-2.0-64" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness64" responseBufferLimit="0" />
      <add name="PageHandlerFactory-ISAPI-2.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
    </handlers>
  </system.webServer>
  <location path="fedit.aspx">
    <system.web>
      <!-- 50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime maxRequestLength="51200" executionTimeout="3600" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
