<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EzUGCC.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EzUGCC.Settings1>
            <setting name="Port" serializeAs="String">
                <value>%port%</value>
            </setting>
            <setting name="VirtualRoot" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="AllowDirectoryBrowsing" serializeAs="String">
                <value>False</value>
            </setting>
		 <setting name="ListenIP" serializeAs="String">
                <value>any</value>
            </setting>
          <setting name="PortSsl" serializeAs="String">
            <value>%httpsport%</value>
          </setting>
          <setting name="Certificate" serializeAs="String">
            <value>cert.p12</value>
		</setting>
            <setting name="EnableSSL" serializeAs="String">
              <value>%enablessl%</value>
            </setting>
        </EzUGCC.Settings1>
    </applicationSettings>
</configuration>
